%div{:style => 'margin-left: 20px;'}
  - @commits.each do |c|
    - puts "### commit is #{c}"
    %p{:style => 'font-size: 12px;'}
      = "#{c[:author][:date]} #{c[:hash]}"
      %br
      = "　#{c[:author][:name]} &lt;#{c[:author][:email]}&gt;"
      %br
      %span{:style =>'font-weight: bold;'}
        - c[:message].each do |line|
          = "　#{line}"
          %br

