%div{:style => 'margin-left: 20px;'}
  - @commits.each do |c|
    %p{:style => 'font-size: 12px;'}
      = c[:date] + " " + c[:hash]
      %br
      = "　#{c[:author]} &lt;#{c[:email]}&gt;"
      %br
      %span{:style =>'font-weight: bold;'}
        = "　#{c[:message]}"

